@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');



.create-event > div{
    width: 70%;
}
.create-event{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}
.datetime-container input{
    text-align: center;
}
.event-submit{
    background-color: #B82601;
}
.locate{
    margin-bottom: 15px;
}
.locate input:focus,
.locate input:hover,
.locate input:active{
    border-bottom: 2px solid #062f4f;
}
.locate input{

    text-align: center;
    height: 32px !important;
    font-size: 1.0em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 12px;
    margin-bottom: -12px;
    box-sizing: border-box;
    font-family: 'Raleway' !important;
    border: none;
    border-bottom: 1px solid #a9a9a9
}

form{
    padding: 10px;
}
.add-button{
    margin: 5px;
}

.input-field{
    text-align: center;
    font-family: 'Raleway' !important;
}

.label{
    margin: auto 0;
    margin-right: 5px;
    font-family: 'Spectral SC' !important;
}

.datetime-container{
    font-family: 'Raleway' !important;
   
}