@import url('https://fonts.googleapis.com/css?family=Paprika');
.toolbar{
    padding-top: 10px !important;
}

.eventing{
    padding: auto;
    margin: auto;
    font-family: 'Paprika', sans-serif;
}





.nav-buttons > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}