@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.toolbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    
    background-color: #1D2731 !important;
}

.eventing{
    padding: auto;
    margin: auto;
    font-family: 'Paprika', sans-serif;
    color: white;
}


.nav-title:focus,
.nav-title:link,
.nav-title:hover{
    text-decoration: none;
    color: white;
}

.button-seperate{
    text-decoration: none;
}

.button-seperate > span{
    color: white;
    text-decoration: none;
}



.icon {
    color: white !important;
}

.nav-buttons > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login-button > button > div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-button{
    background: none !important;
    min-width: 100px !important;
}
.login-button > button{
    background-color: #B82601 !important;
}

.login-button > button > div > div > span{
    color: white !important;
    margin: auto;
    padding: 0 6px !important;
}
.footer-note{
    width: 100% !important;
    font-size: 2em !important;
    font-family: 'Paprika', sans-serif !important;
    color: white !important;
    text-align: center !important;
}
.Home, .Dashboard, .Log{
    padding-top: 5em;
    padding-bottom: 1em;
}
.Login{
    padding-bottom: 3.05em;
}
.toastify-content--success{
    background: #b82601 !important;
}

.button-logout{
    color: white !important;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    background-color: #1D2731 !important;
    z-index: 3;
    width: 100% !important;
    height: 200px !important;
}

@media only screen and (max-width: 500px) {
    .toolbar{
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        height: 125px !important;
    }
    .Home, .Dashboard, .Log{
        padding-top: 9em;
    }
    .dash-button{
        width: 100%;
        text-align: center;
    }
    .toolbar > div:nth-child(3){
            display: inline-block; 
    justify-content: none;
     align-items: none;
    }
    .toolbar > div:nth-child(3)> div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .toolbar > div:nth-child(2){
        justify-content: center !important;
        align-items: center !important;
    }

    
}

@media only screen and (min-width: 1024px) {
    .user-card{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    
    .card{
        width: 80% !important;
        margin: 10px auto !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
    .header{
        padding: 65px 0;
    }
    .user-card .event-address{
        padding-bottom: 50px !important;
    }

    .Log{
        padding-bottom: 42em;
    }

}
/* color-palletes{
    #000000, #062F4F, #813772, #B82601
} */