#avatar-img {
    height: 150px;
    padding: 1em;
    margin: auto;
    background: none;
    background-color: rgb(224, 220, 220);
}


@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

.Dashboard h2{
    font-family: 'Indie Flower';
    font-size: 2.2em;
}
.dashboard{
    background-color: rgb(255, 255, 255);
}

.dash-text{
    color: #222121;
    font-family: 'Spectral SC', sans-serif;
}

.subheader-text{
    color: #222121 !important;
    font-size: 1.2em !important;
}
.paper{
    margin: 5px;
}
.pac-container{
    z-index: 999999;
}
#avatar-img{
    border-radius: 50%;
}

.Dashboard{
    text-align: center;
}

.col-form-label{
    font-family: 'Raleway';
    font-size: 1.2em;
    padding-top: 5px;
    color: #000;
}

.add-button button div div{
    background-color: #B82601;
}
.add-button button div div:hover{
    background-color: #062f4f !important;
}