@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');


.register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Register{
    text-align: center;
}

#passwordHelpBlock{
    color: rgb(223, 221, 221);
    font-size: 13px;
}

.input-fields span{
    margin-right: 10px;
}

.input-fields{
    display: flex;
    justify-content: center;
}

.top-field{
    padding: 12px;
}